@media (max-width:990px){
    header{
        padding: 34px 40px;
    }
    .header_search{
        display: none;
    }
    /* .search_button2{
        display:flex;
        color: #FFFFFF;
    } */
    .section_form{
        row-gap: 24px;
        padding: 48px 145px;
        width: 754px;
        border-radius: 20px;
        border: 1px solid rgba(176, 82, 181, 0.79);
        background: rgba(28, 19, 37, 0.80);
        backdrop-filter: blur(5px);
    }
}
@media (max-width:810px){
    .section_form{
        padding: 48px 70px;
        width: 580px;
    }

}
@media (max-width:620px){
    header{
        padding: 34px 8px;
    }
    .section_form{
        padding: 48px 30px;
        width: 510px;
    }
    .login_button{
        display: none;
    }
    .user_icon{
        display: block;
        background-color: transparent;
        color: #FFFFFF;
        display: flex;
        width: 32px;
        height: 32px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #F30AEA;
    }
    .cart{
        width: 32px;
        height: 32px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #F30AEA;
    }

}

@media (max-width:610px){
    .section_form{
        row-gap: 24px;
        padding: 48px 6px;
        width: 332px;
    }
    .box{
        width: 156px;
        padding: 11px 85px 11px 22px;
    }
    .section_div1{
        column-gap: 8px;
    }
    .sendbutton{
        width: 320px;
    }



}